<div class="sub-header">
    <div class="site-info d-flex me-2 ms-4 w-25">
        <select class="w-100">
            <option value="All">All</option>
        </select>
    </div>
    <div>
        {{ configSrvc.paginated_cam_sub.next(getCurrentItems()) }}
    </div>

    @if (currentUrl === 'live-view') {
    <div class="d-flex align-items-center pointer">
        @if (selectedGrid && selectedGrid !== 1) {
        <div class="d-flex me-2">
            <a (click)="prevPage()">
                <img src="icons/arrow_back_24dp_434343_FILL0_wght400_GRAD0_opsz24.svg" alt="">
            </a>
            <select class="form-select" class="pointer" [(ngModel)]="currentPage"
                (ngModelChange)="changePage(currentPage)">
                @for (item of pagesList; track $index) {
                    <option [value]="item">{{ item }} of {{ noOfPages }}</option>
                }
            </select>
            <a (click)="nextPage()">
                <img src="icons/arrow_forward_24dp_434343_FILL0_wght400_GRAD0_opsz24.svg" alt="">
            </a>
        </div>
        }

        <div class="side-menu d-flex align-items-center">
            <div class="pointer me-2">
                @for (item of gridTypes; track $index) {
                <a (click)="changeGrid(item)" class="grid-highlight">
                    <img [src]="item.path" width="16px"
                        [ngClass]="selectedGrid == item.noOfItems ? 'grid-highlight-active': ''" alt="">
                </a>
                }
            </div>
        </div>

        
        <!-- <div class="me-4">
            <a class="pointer" [matMenuTriggerFor]="menu">
                <img [src]="currentgridIcon" alt="" width="15" class="me-2">
                <img src="icons/arrow-ios-downward-outline.svg" alt="" width="14px">
            </a>
            
            <mat-menu xPosition="before" #menu="matMenu">
                <div class="grid-type">
                    @for (item of gridTypes; track $index) {
                        <a (click)="changeGrid(item)"><img [src]="item.path" width="15" alt=""></a>
                        }
                    </div>
                </mat-menu>
            </div> -->
        </div>
    }
    <div>
        camera info
    </div>


    <!-- @if (currentUrl !== 'live-view') {
    <div>
        <select class="form-select" #site class="w-100" (change)="listAdsInfo(site.value)">
            @for (item of sitesList; track $index) {
            <ng-container>
                <option [value]="item.siteId">{{item.siteName}}</option>
            </ng-container>
            }
        </select>
    </div>
    } -->

    @if (currentUrl === 'advertisements' ) {
    <div class="side-menu d-flex align-items-center">
        <!-- <div>
            <a class="mx-2" style="text-decoration: none;color: black;">
                <span class="me-2" style="font-size: 12px;">Total</span>
                <span style="font-size: 12px;">{{newlistAdsInfoData.length}}</span>
            </a>
        </div>

        <div>
            <a class="mx-2" style="text-decoration: none;color: black;">
                <img src="icons/youtube-video-green.svg" alt="" class="me-2">
                <span style="font-size: 12px;">{{newlistAdsInfoData | count: 'active' : 1 || 2 || 4}}</span>
            </a>
        </div>
        <div>
            <a>
                <img src="icons/youtube-video-grey.svg" alt="" class="me-2">
                <span style="font-size: 12px;">{{newlistAdsInfoData | count: 'active' : 3 || 5}}</span>
            </a>
        </div> -->
        <!-- <div>
            <a>
                <img src="icons/youtube-video-yellow.svg" alt="" class="me-2" width="10px">
                <span style="font-size: 12px;">3</span>
            </a>
        </div> -->
        <!-- <p class="pointer" style="font-size: 14px;">Generic Ads</p> -->
        <div>
            <a class="site-info pointer me-3" (click)="openFilter()">
                <img src="icons/selection-for-ad.svg" alt="" width="10px" class="m-2">
                <img src="icons/arrow-ios-downward-outline.svg" alt="" width="10px" class="me-2">
            </a>
        </div>


    </div>
    }
</div>