.header-container {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-bottom: 1px solid #eeeeee;
    opacity: 1;
    height: 60px;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 30px;
}

.custom_support {
    font-size: 15px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 2px;
}

.custom_support:hover {
    border: 2px solid #FD6327;
}

.active-icon {
    background-color: #FD6327;
    color: white;
    border: 2px solid #FD6327;
}

.active-menu-tab {
    background-color: #FD6327;
    color: white;
    border: 2px solid #FD6327;
}

.active-menu-tab:hover {
    background-color: #FD6327;
    color: white;
    border: 2px solid #FD6327;
}

@media screen and (max-width: 768px) {
    .nav-items {
        display: none;
    }
}

/* .nav-items a {
    text-decoration: none;
    font: normal normal medium 10px/13px Sackers Gothic Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
} */


.list-group-item {
    /* background-color: #FD6327; */
    border-radius: 5px;
    /* padding: 5px; */
    border-style: none;
    /* color: #fff; */
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
}


.active {
    /* background-color: #fff; */
    border-radius: 5px;
    color: #FD6327;
}

.list-group-item:hover {
    /* background-color: #fff; */
    border-radius: 5px;
    color: #FD6327;
}

.logout-image {
    border-left: 1px solid #7d7977;
    border-right: 1px solid #7e7b7a;
}

.profile-image {
    font: normal normal normal 9px/11px Montserrat;
    letter-spacing: 0px;
    color: #FD6327;
    text-transform: uppercase;
    opacity: 1;
}

.profile-key {
    font: normal normal normal 9px/11px Montserrat;
    letter-spacing: 0px;
    color: #989FB4;
    text-transform: uppercase;
    opacity: 1;
}

.profile-terms {
    text-align: left;
    font: normal normal normal 9px/11px Montserrat;
    letter-spacing: 0px;
    text-decoration: none;
    color: #989FB4;
    text-transform: uppercase;
    opacity: 1;
}

.profile-logout {
    font: normal normal medium 9px/11px Montserrat;
    letter-spacing: 0px;
    color: #989FB4;
    text-transform: uppercase;
    opacity: 1;
    text-decoration: none;
}

/* new */

.site-accordian {
    cursor: pointer;
    user-select: none;
    background-color: #ed3237;
    padding: 4px;
    border-radius: 5px;
    color: #ffffff;
    width: 300px;
}

.site-accordian a {
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.site-dropdown {
    position: absolute;
    top: 50px;
    height: 50vh;
    overflow-y: auto;
    width: 300px;
    background-color: #ffffff;
    z-index: 99;
}

.site-dropdown p {
    background-color: #ff3a3a;
    margin: 2px 0 !important;
    padding: 4px;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
        opacity: 0.8;
    }
}

::ng-deep.mat-mdc-menu-panel {
    background-color: #FFFFFF !important;
}