.header-container {
background: #FFFFFF 0% 0% no-repeat padding-box;
border-bottom: 1px solid #eeeeee;
    opacity: 1;
    height: 60px;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 30px;
}

@media screen and (max-width: 768px) {
    .nav-items {
        display: none;
    }
}

/* .nav-items a {
    text-decoration: none;
    font: normal normal medium 10px/13px Sackers Gothic Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
} */


.list-group-item {
    /* background-color: #FD6327; */
    border-radius: 5px;
    /* padding: 5px; */
    border-style: none;
    /* color: #fff; */
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
}


.active {
    /* background-color: #fff; */
    border-radius: 5px;
    color: #FD6327;
}

.list-group-item:hover {
    /* background-color: #fff; */
    border-radius: 5px;
    color: #FD6327;
}

.logout-image {
    border-left: 1px solid #7d7977;
    border-right: 1px solid #7e7b7a;
}

.profile-image {
font: normal normal normal 9px/11px Montserrat;
letter-spacing: 0px;
color: #FD6327;
text-transform: uppercase;
opacity: 1;
}
.profile-key {
font: normal normal normal 9px/11px Montserrat;
letter-spacing: 0px;
color: #989FB4;
text-transform: uppercase;
opacity: 1;
}
.profile-terms {
text-align: left;
font: normal normal normal 9px/11px Montserrat;
letter-spacing: 0px;
text-decoration: none;
color: #989FB4;
text-transform: uppercase;
opacity: 1;
}
.profile-logout {
font: normal normal medium 9px/11px Montserrat;
letter-spacing: 0px;
color: #989FB4;
text-transform: uppercase;
opacity: 1;
text-decoration: none;
}

::ng-deep.mat-mdc-menu-panel  {
    background-color: #FFFFFF !important;
}