.small-screens {
  display: none;
}

.all-screens {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-bottom: 1px solid #e4dfdf;
  opacity: 1;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: relative;
}

.custom_support {
  font-size: 15px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 2px;
}

.custom_support:hover {
  border: 2px solid #fd6327;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-items .icon {
  height: 30px;
  width: 30px;
  border: 1px solid;
  border-radius: 50%;
  text-align: center;
  user-select: none;
}

.nav-items .icon .material-symbols-outlined {
  vertical-align: -webkit-baseline-middle;
}

.user-role span {
  display: block;
}

.user-role span:first-child {
  font-size: 14px;
}

.user-role span:last-child {
  font-size: 10px;
  opacity: 0.5;
}

@media screen and (max-width: 1102px) {
  .nav-items {
    display: none;
  }
}

/* .nav-items a {
    text-decoration: none;
    font: normal normal medium 10px/13px Sackers Gothic Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
} */

.list-group-item {
  font-family: "Neometric Medium", sans-serif !important;
  border-radius: 5px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  /* opacity: 0.7; */
}

.active {
  border-radius: 5px;
  color: #ed3237;
  opacity: 1;
}

.side-active{
  background-color: white !important;
  color: black !important;
}

.list-group-item:hover {
  opacity: 1;
}

.logout-image {
  border-left: 1px solid #7d7977;
  border-right: 1px solid #7e7b7a;
}

.menu-item {
  letter-spacing: 0px;
  /* color: #989fb4; */
  /* text-transform: uppercase; */
  opacity: 1;
  text-decoration: none;
  font-size: 14px;
}

/* new */

.site-accordian {
  position: absolute;
  cursor: pointer;
  user-select: none;
  background-color: #ed3237;
  padding: 6px 8px;
  font-size: 14px;
  border-radius: 6px;
  color: #ffffff;
  width: 300px;
  display: inline-flex;
  align-items: center;
  left: 250px;
}

.site-accordian a {
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.site-dropdown {
  position: absolute;
  top: 36px;
  left: 0;
  max-height: 50vh;
  overflow-y: auto;
  width: 300px;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px #888888;
  z-index: 99;
}

.site-dropdown a {
  border-bottom: 1px solid #ff3a3a;
  /* margin: 4px !important; */
  padding: 6px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #000000;

  &:hover {
    background-color: #ff3a3a;
    color: #ffffff;
  }
}

.site-dropdown input[type="search"] {
  position: sticky;
  z-index: 1;
  top: 0;
  border: 1px solid #ababab;
  padding: 6px;
  border-radius: 6px;
}

::ng-deep.mat-mdc-menu-panel {
  background-color: #ffffff !important;
}

@media (max-width: 1102px) {
  /* .logo {
    display: none;
  } */
  .site-accordian {
    width: 50%;
    left: 4px;
  }

  .all-screens {
    display: none;
  }

  .small-screens {
    background: #ffffff 0% 0% no-repeat padding-box;
    border-bottom: 1px solid #eeeeee;
    opacity: 1;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding: 0 40px;
  }

  .site-accordian {
    margin: auto;
  }

  .side-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.466);
    z-index: 999;
  }

  .side-navs {
    display: flex;
    flex-direction: column;
  }

  .side-list-group-item {
    padding: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  .side-list-group-item:hover {
    background-color: black;
  }

  /* DROPDOWN */
  .side-dropdown {
    display: flex;
    flex-direction: column;
  }

  .dropdown-menu {
    display: grid;
    grid-template-rows: 0fr; /* collapsed */
    overflow: hidden;
    opacity: 0;
    background: transparent;
    transform: translateY(-4px);
    transition: grid-template-rows 0.3s ease, opacity 0.2s ease,
      transform 0.2s ease;
    border: none;
  }

  .dropdown-menu.open {
    grid-template-rows: 1fr; /* expanded */
    opacity: 1;
    transform: translateY(0);
    margin-top: 40px;
    margin-left: 20px;
  }

  /* REQUIRED: inner wrapper */
  .dropdown-menu > div {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
  }

  .dropdown-menu a {
    padding: 15px 30px;
    color: white;
    text-decoration: none;
  }

  .dropdown-menu a:hover {
    background-color: black;
  }

  .arrow {
    float: right;
    transition: transform 0.2s ease;
  }

  .arrow.open {
    transform: rotate(180deg);
  }
}
