<div class="header-container" appGlobalClick>
  <div class="d-flex gap-5">
    <div>
      <img src="themes/verifai/logo-black.png" alt="" width="100px" />
    </div>
    @if (storage_service.currentSite$ | async; as site) {
    <div class="site-accordian">
      <a (click)="toggleSites()">{{ site.siteName }}</a>

      @if (showSite) {
      <div class="site-dropdown">
        <input type="search" [(ngModel)]="searchSite" #siteInput />
        @for (item of sitesList | async | search: searchSite; track $index) {
        <a (click)="updateSite(item)">
          <img src="icons/dot-1.svg" width="8px" class="me-1" />
          {{ item.siteName }}
        </a>
        } @empty {
        <p class="text-center bg-secondary">{{ "no sites!" | titlecase }}</p>
        }
      </div>
      }
      <span class="material-symbols-outlined" (click)="toggleSites()"
        >keyboard_arrow_down</span
      >
    </div>
    }
  </div>

  <!-- nav list -->
  <div class="nav-items">
    <a
      class="list-group-item"
      routerLink="/dashboard/live-view"
      routerLinkActive="active"
      >live view</a
    >
    <a
      class="list-group-item"
      routerLink="/dashboard/alerts"
      routerLinkActive="active"
      >Alerts</a
    >
    <a class="list-group-item icon" [matMenuTriggerFor]="menu1">
      <span class="material-symbols-outlined" style="font-size: 20px"
        >call</span
      >
    </a>
    <mat-menu #menu1="matMenu">
      <button routerLink="/dashboard/service-requests" mat-menu-item>
        <a>Requests</a>
      </button>
      <button mat-menu-item>
        <a>T&C</a>
      </button>
      <button mat-menu-item>
        <a>Contact</a>
      </button>
    </mat-menu>
    <a class="list-group-item icon" [matMenuTriggerFor]="menu">
      <span class="material-symbols-outlined" style="font-size: 20px"
        >person</span
      >
    </a>

    <mat-menu #menu="matMenu">
      <button routerLink="/dashboard/profile" mat-menu-item>
        <span class="menu-item">Profile</span>
      </button>
      <button routerLink="/dashboard/change-password" mat-menu-item>
        <span class="menu-item">Change Password</span>
      </button>
    </mat-menu>
    <!-- </div> -->
  </div>
</div>
