<div class="live-ai-page">
  <!-- TOP BAR (UNCHANGED) -->
  <div class="top-filter-bar">
    <div class="camera-scroll-wrapper">
      <button class="scroll-btn left" (click)="scrollLeft()">&#10094;</button>

      <div class="camera-scroll" #scrollContainer>
        <div
          class="camera-chip"
          *ngFor="let cam of camerasList"
          [ngClass]="{
            active: selectedCamera?.cameraId === cam.cameraId,
            inactive: selectedCamera?.cameraId !== cam.cameraId,
          }"
          (click)="selectCamera(cam)"
        >
          <img src="icons/drop_cam.svg" class="icon" />
          <span class="cam-name">{{ cam.cameraName }}</span>
          <span class="dot"></span>
        </div>
      </div>

      <button class="scroll-btn right" (click)="scrollRight()">&#10095;</button>
    </div>
  </div>

  <!-- MAIN -->

  <div class="live-ai-container">
    <div class="camera-section">
      <div class="camera-header">
        <div>
          <p>{{ siteName }}</p>
          <p>{{ selectedCamera?.cameraId || "-" }}</p>
        </div>

        <div class="header-right">
          <span class="total-btn" (click)="goToAlerts()">View Totals</span>
        </div>
      </div>
      <div class="status-indicators">
        <span class="status-item">
          <span
            class="status-dot"
            [ngClass]="monitoringStatus ? 'red' : 'gray'"
          ></span>
          MONITORING
        </span>
        <span class="status-item">
          <span
            class="status-dot"
            [ngClass]="aiStatus ? 'green' : 'gray'"
          ></span>
          AI ANALYTICS
        </span>
      </div>

      <!-- TWO CAMERAS -->
      <div class="camera-grid">
        <!-- CAMERA 1 -->
        <div class="camera-box">
          <app-stream
            *ngIf="selectedCamera"
            [videoData]="{ httpUrl: selectedCamera?.httpUrl }"
          ></app-stream>

          <!-- <img
            *ngIf="!imageLoader"
            [src]="selectedCameraImage"
            class="camera-feed"
            onerror="this.src = 'icons/eyedisabled.svg'"
          /> -->
          <!-- <div *ngIf="imageLoader" class="text-light">Loading...</div> -->
        </div>

        <!-- CAMERA 2 -->
        <div class="camera-box">
          <!-- <img
            *ngIf="!imageLoader"
            [src]="selectedCameraImage"
            class="camera-feed"
            onerror="this.src = 'icons/eyedisabled.svg'"
          /> -->
          <img
            class="camera-feed"
            [src]="selectedCameraImage"
            *ngIf="!imageLoader"
            [class.error-image]="imageError"
            (error)="onImageError($event)"
          />

          <img
            src="gif/loading-gif.gif"
            alt=""
            width="200"
            *ngIf="imageLoader"
          />
        </div>
        <div class="subtitles-overlay" *ngIf="!imageLoader && !imageError">
          <div
            class="subtitle-chip"
            *ngFor="let sub of subtitles"
            [style.--chip-color]="sub.color"
          >
            <span class="sub-label">{{ sub.subtitle }}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- RIGHT SIDE (TABLE) -->
    <div class="alerts-section">
      <table class="alerts-table">
        <thead>
          <tr>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Object Name</th>
            <th>Alert Tag</th>
            <th>Image/Clip</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let alert of alerts">
            <td>{{ alert.eventFromTime }}</td>
            <td>{{ alert.eventToTime }}</td>
            <td>{{ alert.objectName | titlecase }}</td>
            <td>{{ alert.subAlertTag }}</td>
            <td>
              <img
                src="icons/play-circle-fill.svg"
                class="clip-btn"
                [class.disabled]="!alert.files?.length"
                (click)="openClip(alert)"
              />
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="alerts.length === 0 && !tableLoader" class="no-data">
        No alerts available!
      </div>

      <div *ngIf="tableLoader" class="no-data">Loading...</div>
    </div>
  </div>

  <!-- MAIN -->

  <!-- FOOTER -->
  <div class="footer">
    <span>Refresh:</span>
    <select [(ngModel)]="refreshInterval" (change)="updateRefresh()">
      <option [value]="30000">30 sec</option>
      <option [value]="60000">1 min</option>
      <option [value]="180000">3 min</option>
      <option [value]="300000">5 min</option>
    </select>
  </div>
</div>
