<div class="live-ai-page">
  <!-- TOP BAR -->
  <div class="top-filter-bar">
    <!-- <div class="select-with-icon">
    

      <select
        class="tag-select"
        [(ngModel)]="selectedCamera"
        (change)="onCameraChange()"
      >
        <option value="">ALL CAMERAS ({{ camerasList.length || 0 }})</option>

        <option *ngFor="let cam of camerasList" [value]="cam.cameraId">
          {{ cam.cameraName }}
        </option>
      </select>
    </div> -->
    <div class="camera-scroll-wrapper">
      <button class="scroll-btn left" (click)="scrollLeft()">&#10094;</button>

      <div class="camera-scroll" #scrollContainer>
        <div
          class="camera-chip"
          *ngFor="let cam of camerasList"
          [ngClass]="{
            active: selectedCamera?.cameraId === cam.cameraId,
            inactive: selectedCamera?.cameraId !== cam.cameraId,
          }"
          (click)="selectCamera(cam)"
        >
          <!-- ICON -->
          <img
            src="icons/drop_cam.svg"
            class="icon"
            [ngClass]="{
              'icon-active': selectedCamera?.cameraId === cam.cameraId,
            }"
          />

          <!-- NAME -->
          <span class="cam-name">
            {{ cam.cameraName }}
          </span>

          <!-- DOT -->
          <span class="dot"></span>
        </div>
      </div>

      <button class="scroll-btn right" (click)="scrollRight()">&#10095;</button>
    </div>
    <!-- <div class="alert-counts">
      <div class="chip" *ngFor="let tag of alertCounts || []">
        <span class="dot"></span>
        <span>{{ tag.subAlertTag }}: {{ tag.subAlertTagCount }}</span>
      </div>
    </div> -->

    <div class="header-right">
      <span class="total-btn" (click)="goToAlerts()"> Total </span>
    </div>
  </div>

  <!-- MAIN -->
  <div class="live-ai-container">
    <!-- LEFT: IMAGE -->

    <div class="camera-section">
      <div class="live-stream" *ngIf="selectedCamera">
        <app-stream
          [videoData]="{
            httpUrl: selectedCamera?.httpUrl,
          }"
        ></app-stream>
      </div>
      <ng-container *ngIf="!imageLoader">
        <img
          [src]="selectedCameraImage"
          class="camera-feed"
          onerror="this.src = 'icons/eyedisabled.svg'"
        />
      </ng-container>

      <ng-container *ngIf="imageLoader">
        <img src="gif/loading-gif.gif" />
      </ng-container>

      <!-- <div class="camera-section">
        <app-stream
          [videoData]="{
            httpUrl:
              'https://gisusorin1017live-repo.us1.pitunnel.com/GISUSORIN1017C1',
          }"
        ></app-stream> -->
      <!-- </div> -->
    </div>

    <!-- RIGHT: TABLE -->
    <div class="alerts-section">
      <div class="header">
        <!-- <span class="title">Live Alerts</span> -->
      </div>

      <table class="alerts-table">
        <!-- ✅ HEADER -->
        <thead class="table-header">
          <th>Start Time</th>
          <th>End Time</th>
          <!-- <th>Duration</th> -->
          <th>Object</th>
          <th>Action</th>
        </thead>

        <!-- ✅ ROWS -->
        <tbody>
          <tr *ngFor="let alert of alerts" class="table-row">
            <td>{{ alert.eventFromTime || "-" }}</td>
            <td>{{ alert.eventToTime || "-" }}</td>
            <!-- <td>{{ alert.duration || "-" }}</td> -->
            <td>{{ alert.objectName || "-" }}</td>
            <td>{{ alert.subAlertTag || "-" }}</td>
          </tr>
        </tbody>
      </table>
      <!-- EMPTY -->
      <div *ngIf="alerts.length === 0 && !tableLoader" class="no-data">
        No alerts available
      </div>

      <div *ngIf="tableLoader" class="no-data">Loading...</div>
    </div>
  </div>

  <!-- FOOTER -->
  <div class="footer">
    <span>Refresh:</span>

    <select [(ngModel)]="refreshInterval" (change)="updateRefresh()">
      <option [value]="30000">30 sec</option>
      <option [value]="60000">1 min</option>
      <option [value]="180000">3 min</option>
      <option [value]="300000">5 min</option>
    </select>
  </div>
</div>
