<div class="login-container">
  <div class="left-panel">
    <div class="overlay"></div>
  </div>

  <div class="right-panel">
    <div class="login-box">
      <img
        src="themes/verifai/logo-black.png"
        alt="VERIFAI LIVE"
        class="logo"
      />
      @if(isLogin()){
      <p class="auth-label">Welcome to sign in</p>

      <form [formGroup]="loginForm">
        <div class="form-group">
          <label>Username</label>
          <input type="text" placeholder="Enter" formControlName="userName" />
          @if (loginForm.get('userName')?.invalid && loginForm.dirty) {<span
            class="required"
            >*required</span
          >}
        </div>

        <div class="form-group">
          <label>Password</label>
          <input
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Enter"
            formControlName="password"
          />
          @if (loginForm.get('password')?.invalid && loginForm.dirty) {<span
            class="required"
            >*required</span
          >}
        </div>

        <section class="bottom-info">
          <div class="options">
            <input type="checkbox" (change)="showPassword = !showPassword" />
            <label>Show Password</label>
          </div>
          <div class="forgot-password">
            <button (click)="isLogin.set(false)">Forgot Password?</button>
          </div>
        </section>

        <button type="submit" class="login-btn" (click)="login()">
          LOG IN
        </button>
      </form>
      } @else {
      <app-forgot-password
        (closeForgot)="isLogin.set(true)"
      ></app-forgot-password>
      }
    </div>
  </div>
</div>
