<section>
  <header class="dialog-header">
    <a>{{ data?.name }}</a>
    <a mat-dialog-close
      ><span class="material-symbols-outlined text-danger">cancel</span></a
    >
  </header>

  @if (data?.files?.length) {
    <main class="dialog">
      @for (item of data?.files; track $index) {
        @if (isVideo(item)) {
          <video [src]="item | media | async" autoplay controls></video>
        } @else {
          <!-- <img src="gif/loading-gif.gif" /> -->
          <img
            *ngIf="item"
            [src]="item | media | async"
            onerror="this.src = 'gif/cam-loader.gif'"
          />
        }
      }
    </main>
  } @else {
    <p>no data!</p>
  }
</section>
