/* .dialog video {
  width: 250px;
  height: 250px;
}

.dialog img {
  width: 250px;
  height: 250px;
} */

/* .dialog {
  background-color: #000000;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
} */

.dialog img,
.dialog video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.dialog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 12px;
  /* width: 100%;
  height: 100%; */
}

/* If only one item → make it bigger */
.dialog:has(:only-child) {
  grid-template-columns: 1fr;
}
