video {
  width: 250px;
  height: 250px;
}

img {
  width: 250px;
  height: 250px;
}

main {
  width: 500px;
  height: 500px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
