<main>
  <!-- filters -->
  <div class="tool-bar">
    <div class="d-flex align-items-center gap-1">
      <div
        class="hamburger py-1"
        (click)="storage_service.openSideNav()"
        *ngIf="!(storage_service.showSideNav$ | async)"
      >
        ☰
      </div>

      <form class="left" [formGroup]="sfilterForm">
        <div class="select-with-icon">
          <img src="icons/drop_cam.svg" alt="" class="icon" />
          <select
            class="tag-select"
            (change)="onFilterChange()"
            formControlName="cameraId"
          >
            <option value="">
              <img src="icons/drop_cam.svg" alt="" />ALL ({{
                this.camerasList?.length || 0
              }})
            </option>
            @for (item of camerasList; track $index) {
              <option [value]="item?.cameraId">{{ item.name }}</option>
            } @empty {
              <option disabled>No cameras available</option>
            }
          </select>
        </div>

        <select
          class="tag-select"
          (change)="onFilterChange()"
          formControlName="actionTag"
        >
          <option value="" selected disabled>ALL ACTION TAGS</option>
          @for (item of actionTags; track $index) {
            <option>{{ item.value }}</option>
          }
        </select>

        <!-- <span class="label">START</span>
        <input
          type="date"
          [(ngModel)]="fromDate"
          (change)="onFilterChange()"
        /> -->

        <div class="calendar">
          <span>START</span>
          <input
            type="datetime-local"
            [max]="todayDateTime"
            (change)="onFilterChange()"
            formControlName="fromDate"
          />

          <!-- <img
            src="icons/calendar.svg"
            class="calendar-icon"
          /> -->

          <!-- <input
            matInput
            type="time"
            class="time-input"
            #timeInput1
            formControlName="fromTime"
          />

          <img
            src="icons/time.svg"
            class="time-icon"
            (click)="openTimePicker(timeInput1)"
            alt=""
          /> -->

          <!-- <mat-datepicker #picker1></mat-datepicker> -->
        </div>

        <div class="calendar">
          <span>END</span>
          <input
            type="datetime-local"
            [max]="todayDateTime"
            (change)="onFilterChange()"
            formControlName="toDate"
          />

          <!-- <img
            src="icons/calendar.svg"
            class="calendar-icon"
          /> -->

          <!-- <input
            matInput
            type="time"
            class="time-input"
            #timeInput2
            formControlName="toTime"
          />

          <img
            src="icons/time.svg"
            class="time-icon"
            (click)="openTimePicker(timeInput2)"
            alt=""
          /> -->
        </div>
        <div class="ec-download">
          <button
            type="button"
            class="download-btn"
            (click)="downloadExcelReport()"
            pTooltip="Generate Excel Report"
          >
            <ng-container *ngIf="!spinexcel">
              <img src="icons/excel.png" alt="excel" class="excel-icon" />
            </ng-container>
          </button>
        </div>
        @if (anyData) {
          <button type="reset" class="clear" (click)="clearData()">
            CLEAR
          </button>
        }
      </form>
    </div>

    <!-- <div class="right">
      <span class="label" [class.analyticsred]="isChecked">ANALYTICS</span>
      <label class="switch">
        <input type="checkbox" [(ngModel)]="isChecked" />
        <span class="slider"> </span>
      </label>
    </div> -->

    <!-- <span>ALL ALERTS</span> -->
    <div>
      <!-- <button
        class="filter"
        [matMenuTriggerFor]="filterMenu"
        (click)="resetForm()"
      > -->
      <!-- <span class="material-symbols-outlined text-danger"> filter_list </span>
      </button> -->

      <mat-menu #filterMenu="matMenu" panelClass="filter-menu">
        <ng-template matMenuContent>
          <div class="filter-header">
            <span>FILTER</span>
            <span class="material-symbols-outlined text-danger"> cancel </span>
          </div>

          <form
            class="filter-content"
            [formGroup]="filterForm"
            (click)="$event.stopPropagation()"
          >
            <label>Camera</label>
            <select formControlName="cameraId">
              <option value="" disabled>Select</option>
              @for (cam of camerasList; track cam) {
                <option [value]="cam.cameraId">{{ cam.name }}</option>
              }
            </select>

            <label class="mt-3">Action Tag</label>
            <select formControlName="actionTag">
              <option value="" disabled>Select</option>
              @for (cat of actionTags; track cat) {
                <option [value]="cat.keyId">{{ cat.value }}</option>
              }
            </select>

            <!-- <label class="mt-3">Start Date</label>
            <div class="date-time">
              <label class="m-0">START</label>
              <input type="date" formControlName="fromDate" />
            </div> -->
            <label class="mt-3">Start Date</label>
            <div class="date-time">
              <div class="date-time-inputs">
                <input
                  type="datetime-local"
                  formControlName="fromDate"
                  [max]="todayDateTime"
                />
              </div>
            </div>

            <!-- <label class="mt-3">End Date</label>
            <div class="date-time">
              <label class="m-0">END</label>
              <input type="date" formControlName="toDate" />
            </div> -->
            <label class="mt-3">End Date</label>
            <div class="date-time">
              <div class="date-time-inputs">
                <input
                  type="datetime-local"
                  formControlName="toDate"
                  [max]="todayDateTime"
                />
              </div>
            </div>

            <label class="mt-3">Duration</label>
            <div class="duration-wrapper">
              <div class="duration-values">
                <span>{{ formatTime(filterForm.value.durationStart) }}</span>
                <span>{{ formatTime(filterForm.value.durationEnd) }}</span>
              </div>

              <div class="range-container">
                <input
                  type="range"
                  [min]="0"
                  [step]="1"
                  [value]="10"
                  formControlName="durationStart"
                  (input)="syncDuration()"
                />

                <input
                  type="range"
                  [max]="120"
                  [step]="1"
                  [value]="60"
                  formControlName="durationEnd"
                  (input)="syncDuration()"
                  class="thumb2"
                />
              </div>

              <!-- <div class="duration-labels">
                <span>00:00</span>
                <span>120:00</span>
              </div> -->
            </div>

            <div class="filter-btns">
              <button
                class="btn-secondary"
                (click)="filterForm.reset(); onFilterChange()"
              >
                RESET
              </button>
              <button class="btn-primary" (click)="onFilterChange()">
                APPLY
              </button>
            </div>
          </form>
        </ng-template>
      </mat-menu>
    </div>
  </div>

  <!-- table -->
  <div style="height: calc(100vh - 154px)">
    <ag-grid-angular
      class="custom-grid"
      style="height: 100%"
      [columnDefs]="columnDefs"
      [gridOptions]="gridOptions"
      [rowData]="rowData"
      (cellClicked)="onCellClicked($event)"
    ></ag-grid-angular>
  </div>

  <app-pagination
    [totalPages]="totalPages"
    (changePSize)="changePageSize($event)"
    (changePageNumber)="changePage($event)"
  ></app-pagination>
</main>
