<section class="sub-header">
  @if (camList.length) {
    <div class="site-info">
      <div
        class="hamburger"
        (click)="storage_service.openSideNav()"
        *ngIf="!(storage_service.showSideNav$ | async)"
      >
        ☰
      </div>

      <!-- <div class="select-with-icon">
        <img src="icons/drop_cam.svg" class="icon" />
        <select (change)="adjustGrid($event)">
          <option value="">
            <img src="icons/drop_cam.svg" alt="" />All ({{ camList.length }})
          </option>
          @for (item of camList; track $index) {
            <option [value]="item?.cameraId" #val>
              {{ item?.name }}
            </option>
          }
        </select>
      </div> -->
    </div>

    <!-- pagination -->
    <div class="d-flex gap-3">
      <div class="d-flex align-items-center gap-3">
        @for (item of gridTypes; track $index) {
          <a
            class="grid-highlight"
            [style.opacity]="itemsPerPage == item.noOfItems ? '1' : '0.5'"
            (click)="adjustGrid(item.noOfItems)"
          >
            <img
              [src]="
                itemsPerPage == item.noOfItems ? item.activePath : item.path
              "
              width="16px"
              alt=""
            />
            <!-- {{ item?.label }} -->
          </a>
        }
      </div>

      <div class="d-inline-flex align-items-center">
        <button (click)="navigate('prev')" [disabled]="currentPage === 1">
          <span class="material-symbols-outlined">keyboard_arrow_left </span>
        </button>
        <a>{{ `${currentPage} - ${totalPages}` }}</a>
        <button
          (click)="navigate('next')"
          [disabled]="currentPage === totalPages"
        >
          <span class="material-symbols-outlined">keyboard_arrow_right </span>
        </button>
      </div>
    </div>

    <div class="d-inline-flex align-items-center gap-2">
      <span class="hover-bar" [class.analyticsred]="isChecked"
        >camera info</span
      >
      <label class="switch">
        <input type="checkbox" [(ngModel)]="isChecked" />
        <span class="slider"></span>
      </label>
    </div>
  }
</section>

<!-- camera container -->
<section class="grid-container" #gridContainer>
  @for (item of paginatedList; track item.cameraId) {
    <div
      class="grid-item"
      [ngClass]="itemsPerPage === 1 ? 'single-view' : ''"
      #gridItem
    >
      <app-stream
        [videoData]="item"
        [isChecked]="isChecked"
        (dotPlaced)="onDotPlaced($event)"
      ></app-stream>
    </div>
  }
</section>

<!-- @if (storage_service.showSideNav$ | async) {
  <div class="side-sites">
    <div class="header">
      TOTAL SITES - {{ sitesList?.length }}
      <a class="close" (click)="close()"
        ><span class="material-symbols-outlined"> arrow_left_alt </span></a
      >
    </div>
    <div class="sites-content">
      @for (item of sitesList; track item.siteId) {
        <div class="site-list-item">
          @if (storage_service.currentSite$ | async; as site) {
            <a
              (click)="updateSite(item)"
              [style.color]="item?.siteId === site.siteId ? '#ef7146' : ''"
            >
              {{ item.siteName }}
            </a>
          }
        </div>
      }
    </div>
  </div>
} -->
