<section class="sub-header">
  @if (camList.length) {
  <div class="site-info">
    <div class="hamburger" (click)="showSideSites()">☰</div>
    <select class="w-100" [(ngModel)]="selectedCam" (change)="call()">
      <option value="">All ({{ camList.length }})</option>
      @for (item of camList; track $index) {
      <option [value]="item?.cameraId" #val>
        {{ item?.name }}
      </option>
      }
    </select>
  </div>

  <!-- pagination -->
  <div class="d-flex gap-3">
    <div class="d-inline-flex align-items-center gap-2">
      @for (item of gridTypes; track $index) {
      <a
        [ngClass]="
          itemsPerPage == item.noOfItems
            ? 'grid-highlight active'
            : 'grid-highlight'
        "
        (click)="adjustGrid(item.noOfItems)"
      >
        <img [src]="item.path" width="16px" alt="" />
        <!-- {{ item?.label }} -->
      </a>
      }
    </div>

    <div class="d-inline-flex align-items-center">
      <button (click)="navigate('prev')" [disabled]="currentPage === 1">
        <span class="material-symbols-outlined">keyboard_arrow_left </span>
      </button>
      <a>{{`${currentPage} - ${totalPages}`}}</a>
      <button
        (click)="navigate('next')"
        [disabled]="currentPage === totalPages"
      >
        <span class="material-symbols-outlined">keyboard_arrow_right </span>
      </button>
    </div>
  </div>

  <div class="d-inline-flex align-items-center gap-2">
    <span class="hover-bar" [class.analyticsred]="isChecked">camera info</span>
    <label class="switch">
      <input type="checkbox" [(ngModel)]="isChecked" />
      <span class="slider"></span>
    </label>
  </div>
  }
</section>

<!-- camera container -->
<section class="grid-container" #gridContainer appGlobalClick>
  @for(item of getPaginatedList(); track $index) {
  <div class="grid-item" #gridItem>
    @if (change) {
    <app-stream [videoData]="item" [isChecked]="isChecked"></app-stream>
    <!-- <iframe class="iframe" [src]="item?.httpUrl | sanitize" frameborder="0"></iframe> -->
    }

    <!-- @if(cam.videoUrl && selectedGrid === 1) {
            <div class="d-flex align-items-center justify-content-around h-100">
                <a class="first-arrow" (click)="loadPrevCam()">
                    <img src="icons/arrow-down-short-orange.svg" alt="">
                </a>

                <div>
                    <ng-container>
                        <app-video-plr [videoData]="cam?.httpUrl + '/'"></app-video-plr>
                        <iframe class="iframe" [src]="currentCam?.httpUrl | sanitize" frameborder="0"></iframe>
                    </ng-container>

                    <div class="camera-tile-list">
                        @for (item of camerasList; track $index) {
                        <div class=" d-flex flex-column">
                            <div [ngClass]="currentCam.cameraId == item.cameraId ? 'camera-tile tile-active' : 'camera-tile'"
                                (click)="playCurrentCam(item)">
                                <img [src]="item.snapshotUrl" width="100%" height="100%" alt="">
                                <img src="icons/camera-grey (2).svg" alt="">
                            </div>
                            <p class="tile-name">{{item.name}}</p>
                        </div>
                        }
                    </div>
                </div>

                <a class="second-arrow" (click)="loadNextCam()">
                    <img src="icons/arrow-down-short-orange.svg" alt="">
                </a>
            </div>
        } -->

    <!-- @if (isChecked) {
    <div class="info">{{ item?.name }}</div>
    } -->
    <!-- <div class="cam-info">{{item?.name}}</div> -->
  </div>
  }
</section>

<div class="side-sites" [hidden]="!showSites" [ngClass]="exit ? 'exit' : ''">
  <div class="header">
    TOTAL SITES({{ siteList.length }})
    <div class="close" (click)="close()">←</div>
  </div>
  <div class="sites-content">
    @for(item of siteList; track item){
    <div class="site-list-item">
      <a (click)="updateSite(item)">
        @if(item.siteName.length <=35){
        {{ item.siteName }}
        } @else {
        {{ item.siteName.slice(0, 35) }}... }
      </a>
    </div>
    }
  </div>
</div>
