.pagination {
  display: flex;
  justify-content: end;
  padding: 10px 20px;
  gap: 30px;
  align-items: center;
}

.pagination select {
  width: 70px;
  padding: 8px;
}

.direcs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.page-det {
  font-size: 12px;
}

.direc {
  cursor: pointer;
}

.direc.disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed;
}
