.user-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  animation: slideIn 0.3s forwards;
  width: 400px;
  overflow-y: auto;
}

.top-header {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ed3237;
  color: white;
  padding: 15px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
}

.close {
  background-color: white;
  color: #ed3237;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  padding: 2px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.close:hover {
  background-color: #ed3237;
  color: white;
}

.content {
  flex: 1 1 auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
}

.priority-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
}

.form-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.btn-primary {
  background-color: #ed3237;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
}

.btn-secondary {
  background-color: white;
  color: #ed3237;
  border: 1px solid #ed3237;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
}

.ending {
  animation: slideOut 0.3s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
