<div class="sub-header">
  <p>ALL REQUESTS - {{currentSite?.siteName}}</p>
  <div>
    <button class="req-button me-3" (click)="openNewRequestModal()">+ NEW REQUEST</button>
    <button class="filter" [matMenuTriggerFor]="filterMenu"><img src="icons/filter.svg" alt=""></button>
    <mat-menu #filterMenu="matMenu" panelClass="filter-menu">

      <ng-template matMenuContent>

        <div class="filter-header">
          <p>FILTER</p>
          <div class="close">✕</div>
        </div>

        <form class="filter-content" [formGroup]="filterForm" (ngSubmit)="onFilterChange()"
          (click)="$event.stopPropagation()">

          <label>Camera</label>
          <select formControlName="camera">
            @for(cam of camerasList; track cam){
            <option value="{{cam.id}}">{{cam.name}}</option>
            }
          </select>

          <!-- <label class="mt-3">Type</label>
          <select formControlName="type">
            <option value="">All</option>
            <option value="1">Type 1</option>
          </select> -->

          <label class="mt-3">Alert</label>
          <select formControlName="serviceCategory" (change)="filterSubs()">
            @for(cat of categoryList; track cat){
            <option value="{{cat.catId}}">{{cat.catName}}</option>
            }
          </select>

          <label class="mt-3">Sub-Alert</label>
          <select formControlName="serviceSubCategory">
            @for(subcat of subcategoryList; track subcat){
            <option value="{{subcat.serviceSubcatId}}">{{subcat.serviceSubcatName}}</option>
            }
          </select>

          <div class="date-time">
            <span class="label">START</span>
            <input type="date" formControlName="fromDate" />
          </div>
          <div class="date-time">
            <span class="label">END</span>
            <input type="date" formControlName="toDate" />
          </div>

          <label class="date-label">Duration</label>

          <div class="duration-container">

            <!-- Slider -->
            <div class="range-slider" [style.--start]="startPercent" [style.--end]="endPercent">

              <input type="range" class="range-start" min="0" max="120" step="1" [value]="durationStart"
                (input)="onStartChange($event)" />

              <input type="range" class="range-end" min="0" max="120" step="1" [value]="durationEnd"
                (input)="onEndChange($event)" />
            </div>


          </div>

          <div class="range-labels">
            <span>{{ formatTime(durationStart) }}</span>
            <span>{{ formatTime(durationEnd) }}</span>
          </div>

          <!-- Display -->
          <div class="duration-display">
            {{ formatTime(durationStart) }} to {{ formatTime(durationEnd) }}
          </div>


          <div class="filter-btns">
            <button type="reset" class="btn-secondary">RESET</button>
            <button type="submit" class="btn-primary">APPLY</button>
          </div>

        </form>

      </ng-template>
    </mat-menu>
  </div>
</div>

<!-- table -->
<div style="height: calc(100vh - 120px); display: flex; flex-direction: column">
  <ag-grid-angular style="height: 100%" [serverSideDatasource]="datasource" [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)"></ag-grid-angular>
</div>

@if(showNewRequestModal) {
<app-new-request (closeModal)="closeNewRequestModal()" [currentRequestData]="currentRequest"></app-new-request>
}
<app-assign-request *ngIf="showAssignDialog" [requestData]="currentRequest"></app-assign-request>