<div class="tool-bar">
  <span></span>

  <div class="d-inline-flex">
    <button class="req-button me-3" (click)="openNewRequestModal()">
      NEW REQUEST
    </button>

    <button
      class="filter"
      [matMenuTriggerFor]="filterMenu"
      (click)="resetForm()"
    >
      <span class="material-symbols-outlined text-danger"> filter_list </span>
    </button>

    <mat-menu #filterMenu="matMenu" panelClass="filter-menu">
      <ng-template matMenuContent>
        <div class="filter-header">
          <span>FILTER</span>
          <span class="material-symbols-outlined text-danger"> cancel </span>
        </div>

        <form
          class="filter-content"
          [formGroup]="filterForm"
          (click)="$event.stopPropagation()"
        >
          <label>Camera</label>
          <select formControlName="camera">
            <option value="" disabled>Select</option>
            @for(cam of camerasList; track cam){
            <option [value]="cam.id">{{ cam.name }}</option>
            }
          </select>

          <label class="mt-3">Alert</label>
          <select formControlName="serviceCategory" (change)="filterSubs()">
            <option value="" disabled>Select</option>
            @for(cat of categoryList; track cat){
            <option [value]="cat.catId">{{ cat.catName }}</option>
            }
          </select>

          <label class="mt-3">Sub-Alert</label>
          <select formControlName="serviceSubCategory">
            <option value="" disabled>Select</option>
            @for(subcat of subcategoryList; track subcat){
            <option [value]="subcat.serviceSubcatId">
              {{ subcat.serviceSubcatName }}
            </option>
            }
          </select>

          <label class="mt-3">Start Date</label>
          <div class="date-time">
            <div class="date-time-inputs">
              <input type="date" formControlName="fromDate" />
              <span class="divider"></span>
              <input type="time" formControlName="fromTime" step="1" />
            </div>
          </div>

          <label class="mt-3">End Date</label>
          <div class="date-time">
            <div class="date-time-inputs">
              <input type="date" formControlName="toDate" />
              <span class="divider"></span>
              <input type="time" formControlName="toTime" step="1" />
            </div>
          </div>

          <!-- <label class="date-label">Duration</label>
          <div class="duration-container">
            <div class="range-slider" [style.--start]="startPercent" [style.--end]="endPercent">
              <input type="range" class="range-start" min="0" max="120" step="1" [value]="durationStart"
                (input)="onStartChange($event)" />

              <input type="range" class="range-end" min="0" max="120" step="1" [value]="durationEnd"
                (input)="onEndChange($event)" />
            </div>
          </div> -->

          <!-- <div class="range-labels">
            <span>{{ formatTime(durationStart) }}</span>
            <span>{{ formatTime(durationEnd) }}</span>
          </div>

          <div class="duration-display">
            {{ formatTime(durationStart) }} to {{ formatTime(durationEnd) }}
          </div> -->

          <div class="filter-btns">
            <button
              class="btn-secondary"
              (click)="filterForm.reset(); onFilterChange()"
            >
              RESET
            </button>
            <button class="btn-primary" (click)="onFilterChange()">
              APPLY
            </button>
          </div>
        </form>
      </ng-template>
    </mat-menu>
  </div>
</div>

<!-- table -->
<div style="height: calc(100vh - 154px)">
  <ag-grid-angular
    style="height: 100%"
    [columnDefs]="columnDefs"
    [rowData]="rowData"
    [gridOptions]="gridOptions"
    (cellClicked)="onCellClicked($event)"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>
</div>

<app-pagination
  [totalPages]="totalPages - 1 == 0 ? 2 : totalPages"
  (changePageNumber)="changePageNumber($event)"
  (changePSize)="changePSize($event)"
></app-pagination>

@if(showNewRequestModal) {
<app-new-request
  [currentRequestData]="currentRequest"
  (closeModal)="closeNewRequestModal($event)"
></app-new-request>
} @if(viewRequestInfo){
<div
  class="request-info-container"
  [ngClass]="closeRequestInfo ? 'exit-info' : ''"
>
  <div class="heading">
    #{{ rowRequestData.serviceReqId }}
    <div class="close" (click)="close()">x</div>
  </div>
  <div
    class="data-content"
    [ngClass]="closeRequestInfo ? 'fade-exit-info' : ''"
  >
    <div class="status">STATUS: {{ rowRequestData.status }}</div>
    <div class="info-row site-name">
      <p>Site Name</p>
      <p>-</p>
      <p>{{ rowRequestData.siteName }}</p>
    </div>
    <div class="info-row category-name">
      <p>Category</p>
      <p>-</p>
      <p>{{ rowRequestData.service_cat_name }}</p>
    </div>
    <div class="info-row sub-category-name">
      <p>Sub-Category</p>
      <p>-</p>
      <p>{{ rowRequestData.service_subcat_name }}</p>
    </div>
    <div class="info-row info-date">
      <p>Date</p>
      <p>-</p>
      <p>{{ rowRequestData.createdTime | date : "dd/MM/yyyy" }}</p>
    </div>
    <div class="info-row info-priority">
      <p>Priority</p>
      <p>-</p>
      <p>{{ rowRequestData.priority }}</p>
    </div>
    <div class="info-row info-assined-by">
      <p>Assigned By</p>
      <p>-</p>
      <p>{{ rowRequestData.createdByName }}</p>
    </div>
  </div>
</div>
}
