<div class="tool-bar">
  <div class="tlfilter">
    <form [formGroup]="tlFilterForm">
      <div class="dropdown">
        <select
          class="dropdown-select"
          formControlName="cam"
          (change)="filterTimeLapseList()"
        >
          <option value="">ALL CAMERAS ({{ camList.length }})</option>

          @for (cam of camList; track cam) {
          <option [value]="cam.cameraId">
            {{ cam.name }}
          </option>
          }
        </select>
      </div>

      <div class="calendar">
        <div class="start">
          <div class="label-box">START</div>
          <input
            matInput
            [matDatepicker]="picker1"
            placeholder="MM-DD-YYYY"
            formControlName="startDate"
            (dateChange)="filterTimeLapseList()"
          />
          <img
            src="icons/calendar.svg"
            class="calendar-icon"
            (click)="picker1.open()"
          />
          <mat-datepicker #picker1></mat-datepicker>
        </div>

        <div class="end">
          <div class="label-box">END</div>
          <input
            matInput
            [matDatepicker]="picker2"
            placeholder="MM-DD-YYYY"
            formControlName="endDate"
            (dateChange)="filterTimeLapseList()"
          />
          <img
            src="icons/calendar.svg"
            class="calendar-icon"
            (click)="picker2.open()"
          />
          <mat-datepicker #picker2></mat-datepicker>
        </div>
      </div>
    </form>
  </div>

  <div class="heading">
    TOTAL RECORDS (@if(tldata){
    {{ tldata.length }}
    } @else { 0 })
  </div>
</div>

@if(tldata.length){
<div class="tl-content">
  <div class="tl-container">
    @for(tl of tldata; track tl){
    <div
      class="tl-card"
      [ngClass]="currentTl === tl ? 'red-bg' : ''"
      (click)="tlview($index)"
    >
      <img
        [src]="
          currentTl === tl
            ? 'icons/play-white.svg'
            : 'icons/play-circle-fill.svg'
        "
        alt=""
      />
      <div class="cam-id" [ngClass]="currentTl === tl ? 'red-text' : ''">
        {{ tl.cameraName }}
      </div>
      <div class="date" [ngClass]="currentTl === tl ? 'red-text' : ''">
        {{ tl.generatedDate | date : "mediumDate" }}
      </div>
    </div>
    }
  </div>
</div>
} @else { @if(storage_service.info$ | async; as dd) {

<div class="no-data">
  {{ dd | uppercase }}
</div>
} } @if(currentTl){
<div class="tlinfo-container">
  <div class="header">
    TIME LAPSE VIDEO
    <span class="material-symbols-outlined" (click)="close()"> cancel </span>
  </div>
  <div class="tlinfo-content">
    <div class="topinfo">
      <div class="info">
        <div class="info-cam-id">{{ currentTl.cameraId }}</div>
        <div class="site-name">{{ siteName }}</div>
        <div class="date">
          {{ currentTl.generatedDate | date : "mediumDate" }}
        </div>
      </div>
      <button class="down-button">
        <img src="icons/download.svg" alt="" />
        DOWNLOAD
      </button>
    </div>
    <video
      [src]="
        environment +
          currentTl?.filename +
          '&requestName=lapsevideos' +
          '&levels=' +
          currentTl?.cameraId
          | media
          | async
      "
      onerror="this.src='gif/error.mp4'"
      autoplay
      class="video"
      style="width: 100%; margin: 10px auto"
    ></video>
    <div class="control-buttons">
      <span
        class="material-symbols-outlined"
        (click)="gototl(1)"
        [style.opacity]="index === 1 ? '0.5' : '1'"
      >
        keyboard_double_arrow_left
      </span>

      <!-- <button disabled> -->
      <span
        class="material-symbols-outlined"
        (click)="gototl(index - 1)"
        [style.opacity]="index === 1 ? '0.5' : '1'"
      >
        chevron_backward
      </span>
      <!-- </button> -->

      <div class="list">{{ index }}/{{ tldata.length - 1 }}</div>
      <span
        class="material-symbols-outlined"
        (click)="gototl(index + 1)"
        [style.opacity]="index === tldata.length - 1 ? '0.5' : '1'"
      >
        chevron_forward
      </span>
      <span
        class="material-symbols-outlined"
        (click)="gototl(tldata.length - 1)"
        [style.opacity]="index === tldata.length - 1 ? '0.5' : '1'"
      >
        keyboard_double_arrow_right
      </span>
    </div>
  </div>
</div>
}
