.sub-header {
  height: 50px;
  width: 100%;
  background: linear-gradient(180deg, white, rgba(128, 128, 128, 0.322) 90%);
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 500;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: sans-serif;
  width: 300px;
}

/* Main button */
.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 14px;
  width: 450px;
  height: 36px;

  background: linear-gradient(180deg,#FFFFFF80);
  border: 1px solid #dcdcdc;
  border-radius: 8px;

  cursor: pointer;
}

.dropdown-btn .left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dropdown-btn svg {
  display: block;
}

/* Dropdown menu */
.dropdown-content {
  display: none;
  position: absolute;
  top: 42px;
  left: 0;

  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  min-width: 450px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 20;
}

.dropdown-content a {
  padding: 10px 12px;
  display: block;
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  background: #f2f2f2;
}

/* show dropdown on click */
.dropdown.open .dropdown-content {
  display: block;
}

.calendar {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
}

.start,
.end {
  display: flex;
  align-items: center;
  border: 1px solid #c4c4c4;
  border-radius: 6px;
  overflow: hidden;
  background: white;
  width: 210px;
}

.label-box {
  /* background: #eaeaea; */
  background: linear-gradient(180deg, #ffffff, #eeeeee);
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 600;
}

.calendar input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px 8px;
  font-size: 14px;
  background: white;
  width: 100%;
}

.calendar-icon {
  width: 18px;
  margin-right: 10px;
  cursor: pointer;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0; /* hide Material icon */
}

input:focus {
  outline: none;
  border-color: #888;
}

.tl-content{
  padding: 20px;
}

.heading{
  font-weight: 600;
  font-size: 13px;
}

.tl-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
  gap: 10px;
  overflow-y: auto;
}

.tl-card{
  border: 1px solid #00000026;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
  gap: 5px;
  height: 100px;
  width: 100px;
  cursor: pointer;
}

.tl-card img{
  width: 40%;
}

.cam-id{
  font-weight: 600;
  font-size: 11px;
}

.date{
  font-size: 10px;
  opacity: 0.5;
}

.red-text{
  color: white;
}

.red-bg{
  background-color: #ed3237;
}

.tlinfo-container{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ed3237;
  color: white;
}

.close{
  color: black;
  background-color: white;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.tlinfo-content{
  padding: 20px;
  background-color: white;
  flex: 1;
}

.info-cam-id{
  color: #ed3237;
  font-weight: 600;
}

.site-name{
  font-size: 12px;
}

.topinfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

button{
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.control-buttons{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.control-buttons img{
  border: 1px solid grey;
  border-radius: 50%;
  cursor: pointer;
}

.no-data{
  color: #ed3237;
  font-weight: 700;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  animation: blink 2s ease infinite;
}

.tlfilter form{
  display: flex;
  justify-content: start;
  align-items: center;
}

@keyframes blink {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.7;
  }
  100%{
    opacity: 1;
  }
}