.req-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    animation: slideIn 0.3s forwards;
}
.top-header{
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ED3237;
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
}

.close{
    background-color: white;
    color: #ED3237;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    padding: 2px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.close:hover{
    background-color: #ED3237;
    color: white;
    /* border: 1px solid rgb(121, 121, 121); */
}

.content{
    flex: 1 1 auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
}

label{
    display: block;
    margin-top: 30px;
    opacity: 0.8;
    font-size: 12px;
    /* font-weight: 600; */
}

select{
    width: 100%;
    /* width: ; */
    height: 40px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 10px;
    font-size: 12px;
}

option{
    font-size: 16px;
}

.priority-btns{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
}

.priority-btns input{
    width: 15px;
}

input[type="radio"]{
    accent-color: #ED3237;
}

.form-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.btn-primary{
    background-color: #ED3237;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.btn-secondary{
    background-color: white;
    color: #ED3237;
    border: 1px solid #ED3237;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.ending{
    animation: slideOut 0.3s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}