<div class="req-container" [ngClass]="isClose ? 'ending' : ''">
    <div class="top-header">
        CREATE NEW REQUEST
        <div class="close" (click)="close()">X</div>
    </div>
    <div class="content">
        <form [formGroup]="ticketForm" (ngSubmit)="createTicket()" action="">
            <label for="site">Site</label>
            <select name="site" id="site" formControlName="siteId">
                @for(site of siteData; track site){
                <option [value]="site.siteId">{{site.siteName}}</option>
                }
            </select>
            <label for="category">Category</label>
            <select name="category" id="category" formControlName="category" (change)="filterSubs()">
                @for(cat of categories; track cat.catId) {
                <option [value]="cat.catId">{{cat.catName}}</option>
                }
                <option value="example">Category 1</option>
            </select>
            <label for="sub-category">Sub Category</label>
            <select name="sub-category" id="sub-category" formControlName="subCategory">
                @for(subCat of subCategories; track subCat.subCatId) {
                <option [value]="subCat.serviceSubcatId">{{subCat.serviceSubcatName}}</option>
                }
            </select>
            <label for="priority">Priority</label>
            <div class="priority-btns">
                <div>
                    <input type="radio" name="priority" value="low" formControlName="priority">
                    Low
                </div>
                <div>
                    <input type="radio" name="priority" value="medium" formControlName="priority">
                    Medium
                </div>
                <div>
                    <input type="radio" name="priority" value="high" formControlName="priority">
                    High
                </div>
            </div>
            <label for="description">Description</label>
            <textarea name="description" id="description" cols="40" rows="7" formControlName="description"></textarea>
            <label for="remarks">Remarks</label>
            <textarea name="remarks" id="remarks" cols="40" rows="7" formControlName="remarks"></textarea>
            <div class="form-btns">
                <button Class="btn-secondary" style="width: 50%;" type="reset" (click)="close()">CANCEL</button>
                <button class="btn-primary" style="width: 50%;" type="submit" [disabled]="ticketForm.invalid">CREATE</button>
            </div>
        </form>
    </div>
</div>