<div class="pass-container">
  <p class="auth-label fw-bold">CHANGE PASSWORD</p>
  <form [formGroup]="changePasswordForm">
    <!-- Old Password -->
    <label>Current Password</label>
    <div class="input-wrapper">
      <input
        [type]="showOldPassword() ? 'text' : 'password'"
        formControlName="oldPassword"
      />
      <img
        class="eye-icon"
        [src]="showOldPassword() ? 'icons/view.svg' : 'icons/eyedisabled.svg'"
        (click)="showOldPassword.set(!showOldPassword())"
        alt="toggle visibility"
      />
    </div>

    <!-- New Password -->
    <label>New Password</label>
    <div class="input-wrapper">
      <input
        [type]="showNewPassword() ? 'text' : 'password'"
        formControlName="newPassword"
      />
      <img
        class="eye-icon"
        [src]="showNewPassword() ? 'icons/view.svg' : 'icons/eyedisabled.svg'"
        (click)="showNewPassword.set(!showNewPassword())"
        alt="toggle visibility"
      />
    </div>

    <!-- Confirm Password -->
    <label>Confirm New Password</label>
    <div class="input-wrapper">
      <input
        [type]="showConfirmPassword() ? 'text' : 'password'"
        formControlName="confirmPassword"
      />
      <img
        class="eye-icon"
        [src]="
          showConfirmPassword() ? 'icons/view.svg' : 'icons/eyedisabled.svg'
        "
        (click)="showConfirmPassword.set(!showConfirmPassword())"
        alt="toggle visibility"
      />
    </div>

    <div class="form-btns">
      <button
        type="reset"
        class="btn-secondary"
        routerLink="/dashboard/profile"
      >
        CANCEL
      </button>
      <button type="submit" class="btn-primary" (click)="changePassword()">
        SUBMIT
      </button>
    </div>
  </form>
</div>
