<div class="pass-container">
  <p class="auth-label fw-bold">CHANGE PASSWORD</p>
  <form [formGroup]="changePasswordForm">
    <!-- Old Password -->
    <label>Current Password</label>
    <div class="input-wrapper">
      <input
        [type]="showOldPassword() ? 'text' : 'password'"
        formControlName="oldPassword"
      />
      <img
        class="eye-icon"
        [src]="showOldPassword() ? 'icons/view.svg' : 'icons/eyedisabled.svg'"
        (click)="showOldPassword.set(!showOldPassword())"
        alt="toggle visibility"
      />
    </div>

    <!-- New Password -->
    <label>New Password</label>
    <div class="input-wrapper">
      <input
        [type]="showNewPassword() ? 'text' : 'password'"
        formControlName="newPassword"
        (focus)="showPasswordRules = true"
      />
      <img
        class="eye-icon"
        [src]="showNewPassword() ? 'icons/view.svg' : 'icons/eyedisabled.svg'"
        (click)="showNewPassword.set(!showNewPassword())"
        alt="toggle visibility"
      />
    </div>

    <!-- PASSWORD RULES -->
    <div class="password-rules" *ngIf="showPasswordRules">
      <ul>
        <li [class.valid]="passwordRules.minLength">✔ At least 8 characters</li>
        <li [class.valid]="passwordRules.upper">
          ✔ At least one uppercase letter
        </li>
        <li [class.valid]="passwordRules.lower">
          ✔ At least one lowercase letter
        </li>
        <li [class.valid]="passwordRules.digit">✔ At least one digit</li>
        <li [class.valid]="passwordRules.special">
          ✔ At least one special character
        </li>
      </ul>
    </div>

    <!-- Confirm Password -->
    <label>Confirm New Password</label>
    <div class="input-wrapper">
      <input
        [type]="showConfirmPassword() ? 'text' : 'password'"
        formControlName="confirmPassword"
      />
      <img
        class="eye-icon"
        [src]="
          showConfirmPassword() ? 'icons/view.svg' : 'icons/eyedisabled.svg'
        "
        (click)="showConfirmPassword.set(!showConfirmPassword())"
        alt="toggle visibility"
      />
    </div>

    <!-- Mismatch error -->
    <small
      class="error"
      *ngIf="!passwordsMatch() && changePasswordForm.touched"
    >
      Passwords do not match
    </small>

    <div class="form-btns">
      <button
        type="reset"
        class="btn-secondary"
        routerLink="/dashboard/profile"
      >
        CANCEL
      </button>
      <button type="submit" class="btn-primary" (click)="changePassword()">
        SUBMIT
      </button>
    </div>
  </form>
</div>
