<div class="profile-container">
  <div class="upper-container">
    <a (click)="update()" style="position: relative">
      <img
        [src]="profileImg | media | async"
        alt=""
        onerror="this.src = 'icons/def_profile_image.png'"
        class="profile-image"
      />
      <img src="icons/editicon2.svg" class="editicon" alt="" />
    </a>
    <input
      type="file"
      name="myImage"
      accept="image/*"
      #profileInput
      style="
        position: absolute;
        left: 0px;
        width: 1px;
        height: 1px;
        opacity: 0;
        pointer-events: none;
      "
      (change)="onFileChange($event)"
    />

    <!-- user info -->
    <div class="user-details">
      @if (userData) {
        <div class="rows">
          <div class="row1">
            <div class="user-desig">
              <h5 class="m-0">{{ userData?.userName | uppercase }}</h5>
              <p>{{ userData?.roleList[0]?.roleName }}</p>
            </div>
          </div>

          <div class="row2 mb-2">
            <div class="location">
              <img src="icons/location.svg" alt="" width="16px" />
              <span>{{ address.join(", ") }}</span>
            </div>
            <div class="call">
              <img src="icons/phone.svg" alt="" width="16px" />
              <div class="phnum">{{ userData?.contactNo1 }}</div>
            </div>
            <div class="mail">
              <img src="icons/mail.svg" alt="" width="16px" />
              <div class="mailid">{{ userData?.email }}</div>
            </div>
          </div>

          <div class="row3">
            <div class="org">
              <label>Organization Name</label>
              <h5>{{ userData?.organizationName || "-" }}</h5>
            </div>
            <div class="sitesn">
              <label>Sites Assigned</label>
              <h5>{{ sitesList.length }}</h5>
            </div>
            <div class="manuser">
              <label>Managed Users</label>
              <h5>{{ subUsers.length }}</h5>
            </div>
            <div class="user-status">
              <label>Status</label>
              <h5 [style.color]="userData?.active == 'T' ? 'green' : ''">
                {{ userData?.active === "T" ? "Active" : "Inactive" }}
              </h5>
            </div>
          </div>
        </div>
      }

      <div class="user-btns">
        <button class="logout-btn" (click)="logout()">
          <span class="material-symbols-outlined"> logout </span>
          <span class="ms-1">LOGOUT</span>
        </button>
        <button class="edit-btn" (click)="editDetails()">
          <span class="material-symbols-outlined text-danger me-1 fs-6">
            edit
          </span>
          <span>EDIT</span>
        </button>
      </div>
    </div>
  </div>

  <div class="lower-container">
    <div class="low-heading">
      <strong>Total Users - {{ subUsers.length }}</strong>
      <div class="user-toggles">
        <div class="self">
          <strong>Created by self</strong>
          <label class="switch">
            <input type="checkbox" />
            <span class="slider"> </span>
          </label>
        </div>
        <div class="others">
          <strong>Created by others</strong>
          <label class="switch">
            <input type="checkbox" />
            <span class="slider"> </span>
          </label>
        </div>
      </div>
      <div class="last">
        <span
          class="material-symbols-outlined icon-red"
          (click)="toggleList(1)"
          *ngIf="!changeList"
        >
          list
        </span>
        <span
          class="material-symbols-outlined icon-red"
          (click)="toggleList(2)"
          *ngIf="changeList"
        >
          grid_on
        </span>
        <button class="add-btn" (click)="userAdd()">
          <span class="material-symbols-outlined text-danger"> add </span>
          <span>ADD</span>
        </button>
      </div>
    </div>

    <hr />

    <div [ngClass]="changeList ? 'listUsers' : 'gridUsers'">
      @for (usr of subUsers; track usr) {
        <div
          [ngClass]="
            usr?.STATUS === 'IVISUSA'
              ? 'card-container'
              : 'card-container dec-user'
          "
        >
          <img
            [src]="usr?.profileImageUrl | media | async"
            alt=""
            width="70px"
            height="70px"
            onerror="this.src = 'icons/def_profile_image.png'"
            class="pr-image"
            [ngStyle]="
              changeList
                ? { height: '30px', width: '30px', 'margin-bottom': '0' }
                : { height: '60px', width: '60px' }
            "
          />
          <span class="user-name">{{ usr?.User_Name | uppercase }}</span>
          <p class="role-name">{{ usr.roleName }}</p>
          <button
            class="assign-btn"
            [ngStyle]="changeList ? { width: '200px' } : { width: '100px' }"
            (click)="siteActions(usr.userId)"
          >
            Assign Sites
          </button>

          <div *ngIf="changeList" style="width: 100px"></div>

          <div
            class="extra-btns"
            [ngStyle]="changeList ? { right: '20px' } : { bottom: '4px' }"
          >
            <span
              class="material-symbols-outlined text-danger"
              (click)="deleteUser(usr)"
            >
              delete
            </span>
          </div>
        </div>
      }
    </div>
  </div>
</div>

@if (isEdit) {
  <app-updateuser (closeModal)="closeUpdateUserModal($event)"></app-updateuser>
}
@if (addBtn) {
  <app-add-user
    (siteActions)="newSiteActions($event)"
    (closeModal)="closeAddUserModal($event)"
  ></app-add-user>
}

<ng-template #sitesAssign>
  <div class="dialog-header">
    <span>Map Sites</span>
    <a mat-dialog-close
      ><span class="material-symbols-outlined">cancel</span></a
    >
  </div>

  <!-- <mat-dialog-content> -->
  <div class="dialog">
    <input type="text" placeholder="Search" [(ngModel)]="siteSearch" />

    <ng-container>
      @for (item of filters; track item) {
        <div class="btn-group my-2 me-1" role="group">
          <input
            type="radio"
            class="btn-check"
            [value]="item.id"
            [id]="item.id"
            (change)="filterSites(item)"
            [(ngModel)]="filter"
          />
          <label class="btn btn-outline-dark" [for]="item.id">{{
            item.label
          }}</label>
        </div>
      }
    </ng-container>

    @let pipeSites = userSites | search: siteSearch;
    @if (pipeSites?.length) {
      <div style="height: 30vh; overflow: auto">
        @if (filter !== 1 && pipeSites.length !== 0) {
          <div class="form-check select-site">
            <input
              class="form-check-input"
              type="checkbox"
              id="all"
              [(ngModel)]="selectAllSites"
              (ngModelChange)="toggleSites()"
            />
            <label class="form-check-label" for="all"> Select All </label>
          </div>
        }
        @for (item of pipeSites; track item.siteId) {
          <div class="form-check select-site">
            @if (filter !== 1) {
              <input
                class="form-check-input"
                type="checkbox"
                [id]="item.siteName"
                [(ngModel)]="item.assigned"
                (ngModelChange)="toggleAllIndividual()"
              />
            }
            <label class="form-check-label" [for]="item.siteName">
              {{ item.siteName }}
            </label>
          </div>
        }
      </div>
    } @else {
      <p class="text-center" style="height: 30vh">No Sites!</p>
    }

    <div class="d-flex justify-content-center my-2">
      @if (filter !== 1) {
        <button
          class="req-btn"
          (click)="applyMapping()"
          [disabled]="
            currentUser?.roleName === 'Client-Member' ||
            currentUser?.roleName === 'Site-Admin'
          "
          mat-dialog-close
        >
          {{ filter == 2 ? "Unassign" : "Assign" }}
        </button>
      }
    </div>
  </div>

  <!-- </mat-dialog-content> -->

  <!-- <mat-dialog-actions align="end">
    <button mat-button (click)="close(false)">Cancel</button>
  <button mat-raised-button color="warn" (click)="close(true)"> -->
  <!-- Confirm -->
  <!-- </button>
  </mat-dialog-actions> -->
</ng-template>

<!-- role, create request required fields -->
