<div class="profile-container">
  <div class="upper-container">
    <a class="profile-image" (click)="update()">
      <img
        [src]="profileImg | media | async"
        alt=""
        style="width: 100%; height: 100%; border-radius: 50%"
      />
      <img src="icons/editicon2.svg" class="editicon" alt="" />
    </a>
    <input
      type="file"
      name="myImage"
      accept="image/*"
      #profileInput
      style="
        position: absolute;
        left: 0px;
        width: 1px;
        height: 1px;
        opacity: 0;
        pointer-events: none;
      "
      (change)="onFileChange($event)"
    />
    <div class="user-details">
      <div class="rows">
        <div class="row1">
          <div class="user-desig">
            <h3>{{ userData?.userName }}</h3>
            <p>{{ userData?.roleList[0]?.roleName }}</p>
          </div>
        </div>
        <div class="row2">
          <div class="location">
            <img src="icons/location.svg" alt="" />
            <p>{{ address.join(", ") }}</p>
          </div>
          <div class="call">
            <img src="icons/phone.svg" alt="" style="height: 25px" />
            <div class="phnum">{{ userData?.contactNo1 }}</div>
          </div>
          <div class="mail">
            <img src="icons/mail.svg" alt="" />
            <div class="mailid">{{ userData?.email }}</div>
          </div>
        </div>
        <div class="row3">
          <div class="org">
            <label>Organization Name</label>
            <h5>{{ userData?.organizationName || "-" }}</h5>
          </div>
          <div class="sitesn">
            <label>Sites Assigned</label>
            <h5>{{ sitesList.length }}</h5>
          </div>
          <div class="manuser">
            <label>Managed Users</label>
            <h5>{{ subUsers.length }}</h5>
          </div>
          <div class="user-status">
            <label>Status</label>
            <h5 [ngClass]="userData?.active == 'T' ? 'st-act' : ''">
              {{ userData?.active === "T" ? "active" : "inactive" }}
            </h5>
          </div>
        </div>
      </div>
      <div class="user-btns">
        <button class="logout-btn" (click)="logout()">
          Logout
          <img src="icons/logout.svg" alt="" />
        </button>
        <button class="edit-btn" (click)="editDetails()">
          <img src="icons/edit.svg" alt="" /> Edit
        </button>
      </div>
    </div>
  </div>
  <div class="lower-container">
    <div class="low-heading">
      <strong>Total Users - {{ subUsers.length }}</strong>
      <button class="add-btn" (click)="userAdd()">+ Add</button>
    </div>
    <hr />
    <div class="user-cards">
      @for(usr of subUsers; track usr){
      <div
        class="card-container"
        [ngClass]="usr.STATUS == '' ? 'dec-user' : ''"
        (mouseenter)="showEditBtns($index)"
        (mouseleave)="hideEditBtns($index)"
      >
        <img
          [src]="
            usr?.profileImageUrl
              ? 'usr.profileImageUrl | media | async'
              : 'icons/def_profile_image.png'
          "
          alt=""
          style="width: 40%; border-radius: 50%; border: 1px solid grey"
        />
        <strong>{{ usr?.User_Name }}</strong>
        <p style="text-align: center; opacity: 1">{{ usr.roleName }}</p>
        <button class="role-btn">Assigned Role</button>
        <div
          class="extra-btns"
          [style.visibility]="editBtns[$index] ? 'visible' : 'hidden'"
        >
          <img src="icons/edit.svg" alt="" />
          <span style="opacity: 0">---</span>
          <img src="icons/delete.svg" alt="" (click)="deleteUser(usr)" />
        </div>
      </div>
      }
    </div>
  </div>
</div>
@if(isEdit){
<app-updateuser (closeModal)="closeUpdateUserModal($event)"></app-updateuser>
} @if(addBtn){
<app-add-user
  (closeModal)="closeAddUserModal($event)"
  [roleList]="userRoles"
></app-add-user>
}
