<div class="profile-container">
  <div class="upper-container">
    <a class="profile-image" (click)="update()">
      <img [src]="profileImg | media | async" alt="" onerror="this.src='icons/def_profile_image.png'"
        style="width: 100%; height: 100%; border-radius: 50%" />
      <img src="icons/editicon2.svg" class="editicon" alt="" />
    </a>
    <input type="file" name="myImage" accept="image/*" #profileInput style="
        position: absolute;
        left: 0px;
        width: 1px;
        height: 1px;
        opacity: 0;
        pointer-events: none;
      " (change)="onFileChange($event)" />

    <!-- user info -->
    <div class="user-details">
      <div class="rows">
        <div class="row1">
          <div class="user-desig">
            <h5 class="m-0">{{ userData?.userName | uppercase }}</h5>
            <p>{{ userData?.roleList[0]?.roleName }}</p>
          </div>
        </div>

        <div class="row2 mb-2">
          <div class="location">
            <img src="icons/location.svg" alt="" width="16px" />
            <span>{{ address.join(", ") }}</span>
          </div>
          <div class="call">
            <img src="icons/phone.svg" alt="" width="16px" />
            <div class="phnum">{{ userData?.contactNo1 }}</div>
          </div>
          <div class="mail">
            <img src="icons/mail.svg" alt="" width="16px" />
            <div class="mailid">{{ userData?.email }}</div>
          </div>
        </div>

        <div class="row3">
          <div class="org">
            <label>Organization Name</label>
            <h5>{{ userData?.organizationName || "-" }}</h5>
          </div>
          <div class="sitesn">
            <label>Sites Assigned</label>
            <h5>{{ sitesList.length }}</h5>
          </div>
          <div class="manuser">
            <label>Managed Users</label>
            <h5>{{ subUsers.length }}</h5>
          </div>
          <div class="user-status">
            <label>Status</label>
            <h5 [style.color]="userData?.active == 'T' ? 'green' : ''">
              {{ userData?.active === "T" ? "Active" : "Inactive" }}
            </h5>
          </div>
        </div>
      </div>
      <div class="user-btns">
        <button class="logout-btn" (click)="logout()">
          <span class="material-symbols-outlined"> logout </span>
          <span class="ms-1">LOGOUT</span>
        </button>
        <button class="edit-btn" (click)="editDetails()">
          <span class="material-symbols-outlined text-danger me-1 fs-6">
            edit
          </span>
          <span>Edit</span>
        </button>
      </div>
    </div>
  </div>

  <div class="lower-container">
    <div class="low-heading">
      <strong>Total Users - {{ subUsers.length }}</strong>
      <button class="add-btn" (click)="userAdd()">
        <span class="material-symbols-outlined"> add </span>
        <span class="fs-6">ADD</span>
      </button>
    </div>

    <hr />

    <div class="user-cards">
      @for(usr of subUsers; track usr){
      <div [ngClass]="
          usr?.STATUS === 'IVISUSA'
            ? 'card-container'
            : 'card-container dec-user'
        ">
        <img [src]="usr?.profileImageUrl | media | async" alt="" onerror="this.src='icons/def_profile_image.png'" style="
            width: 40%;
            border-radius: 50%;
            border: 1px solid grey;
            padding: 10px;
            margin-bottom: 10px;
          " />
        <span class="user-name">{{ usr?.User_Name | uppercase }}</span>
        <p class="role-name">{{ usr.roleName }}</p>
        <button class="assign-btn" (click)="siteActions(usr.userId)">Assign Sites</button>

        <div class="extra-btns">
          <span class="material-symbols-outlined text-danger" (click)="deleteUser(usr)">
            delete
          </span>
        </div>
      </div>
      }
    </div>
  </div>
</div>
@if(isEdit){
<app-updateuser (closeModal)="closeUpdateUserModal($event)"></app-updateuser>
} @if(addBtn){
<app-add-user (closeModal)="closeAddUserModal($event)" [roleList]="userRoles"></app-add-user>
}
<ng-template #sitesAssign>
  <div class="dialog-header">
    <p>Map Sites</p>
    <p><img src="icons/close.svg" class="pointer" width="20" alt="" mat-dialog-close></p>
  </div>

  <mat-dialog-content>
    <div class="dialog-content" style="width: 500px;">
      <input type="text" class="form-control" placeholder="Search" [(ngModel)]="siteSearch">

      <ng-container>
        @for(item of filters; track item){
        <div class="btn-group my-2 me-1" role="group">
          <input type="radio" class="btn-check" [value]="item.id" [id]="item.id" (change)="filterSites(item)"
            [(ngModel)]="filter">
          <label class="btn btn-outline-dark" [for]="item.id">{{item.label}}</label>
        </div>
        }
      </ng-container>
      @let pipeSites = (userSites | search: siteSearch);

      @if (pipeSites?.length) {
      <div style="height: 40vh; overflow: auto;">

        @if (filter !== 1 && pipeSites.length !== 0) {
        <div class="form-check select-site">
          <input class="form-check-input" type="checkbox" id="all" [(ngModel)]="selectAllSites"
            (ngModelChange)="toggleSites()">
          <label class="form-check-label" for="all">
            Select All
          </label>
        </div>
        }

        @for (item of pipeSites; track item.siteId) {
        <div class="form-check select-site">
          @if (filter !== 1) {
          <input class="form-check-input" type="checkbox" [id]="item.siteName" [(ngModel)]="item.assigned"
            (ngModelChange)="toggleAllIndividual()">
          }
          <label class="form-check-label" [for]="item.siteName">
            {{ item.siteName }}
          </label>
        </div>
        }

      </div>
      }

    </div>

    <div class="d-flex justify-content-center my-2">
      @if(filter !==1){
      <button class="req-btn" (click)="applyMapping()"
        [disabled]="currentUser?.roleName === 'Client-Member' || currentUser?.roleName === 'Site-Admin'">
        {{ filter == 2 ? 'Unassign' : 'Assign' }}
      </button>
    }
    </div>
  </mat-dialog-content>

  <!-- <mat-dialog-actions align="end">
    <button mat-button (click)="close(false)">Cancel</button>
  <button mat-raised-button color="warn" (click)="close(true)"> -->
  <!-- Confirm -->
  <!-- </button>
  </mat-dialog-actions> -->
</ng-template>