::ng-deep
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
  .mat-mdc-form-field-infix {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

::ng-deep
  .mat-mdc-text-field-wrapper
  .mat-mdc-form-field-flex
  .mat-mdc-floating-label {
  top: 20px !important;
  font-size: 14px !important;
}

::ng-deep .mat-mdc-form-field-infix {
  min-height: 40px !important;
}

::ng-deep div.mat-mdc-select-panel {
  padding: 0 !important;
}

::ng-deep .mat-mdc-select-arrow {
  top: 3px !important;
}

::ng-deep
  .mat-mdc-form-field
  .mdc-text-field--outlined
  .mdc-notched-outline--upgraded
  .mdc-floating-label--float-above {
  top: 28px !important;
}

::ng-deep .mat-mdc-select-value {
  position: relative !important;
  top: 3px !important;
  font-size: 14px !important;
}

::ng-deep .mat-mdc-form-field-error-wrapper {
  top: -3px !important;
}

::ng-deep
  .mdc-text-field--outlined
  .mdc-notched-outline
  .mdc-notched-outline__trailing {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 0px !important;
}

::ng-deep
  .mdc-text-field--outlined
  .mdc-notched-outline
  .mdc-notched-outline__leading {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 8px !important;
}

/* mat-form auto-complete */
::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  height: 40px !important;
}

::ng-deep div.mat-mdc-autocomplete-panel {
  padding: 0 !important;
}

::ng-deep .mat-mdc-form-field-icon-suffix {
  top: -3px !important;
}

::ng-deep
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
  .mdc-text-field__input {
  position: relative !important;
  top: 3px !important;
  font-size: 14px !important;
}

::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
  font-size: 14px !important;
}

/* mat-disable */
::ng-deep
  .mdc-text-field--outlined.mdc-text-field--disabled
  .mdc-text-field__input {
  color: #000000 !important;
}

::ng-deep .mat-mdc-select-disabled {
  color: #000000 !important;
}

::ng-deep
  .mdc-text-field--outlined.mdc-text-field--disabled
  .mdc-floating-label,
.mdc-text-field--outlined.mdc-text-field--disabled
  .mdc-floating-label--float-above {
  color: #000000 !important;
}

::ng-deep .mat-mdc-dialog-container .mat-mdc-dialog-content {
  font-family: "Neometric Medium" !important;
}

/* mat-menu */
::ng-deep .mat-mdc-menu-content {
  font-family: "Neometric Medium" !important;
  padding: 0 !important;
  /* overflow: hidden !important; */
}

::ng-deep .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
  font-family: "Neometric Medium" !important;
}

::ng-deep .mat-mdc-menu-item {
  min-height: 34px !important;
  /* border-bottom: 1px solid #ababab; */
  font-size: 14px !important;
  /* margin: 0 4px !important; */
}

::ng-deep .mat-mdc-dialog-surface {
  border-radius: 8px !important;
}

::ng-deep .mat-mdc-menu-panel {
  max-width: 100% !important;
}

::ng-deep .mat-calendar {
  font-family: "Neometric Medium" !important;
}

::ng-deep .mat-mdc-button {
  font-family: "Neometric Medium" !important;
}

::ng-deep .mat-calendar-body-cell-content {
  font-family: "Neometric Medium" !important;
}

::ng-deep .mat-calendar-body-selected {
  background-color: #ed3237 !important;
}

::ng-deep
  .mat-calendar-body-today:not(.mat-calendar-body-selected):not(
    .mat-calendar-body-comparison-identical
  ) {
  border-color: #ed3237 !important;
}

::ng-deep .mat-calendar-body-selected.mat-calendar-body-today {
  box-shadow: 0 0 0 1px #ed3237 !important;
}

/* ag grid */
::ng-deep .ag-root-wrapper {
  border-radius: 0 !important;
  font-family: "Neometric Medium" !important;
}

::ng-deep .ag-row,
.ag-spanned-row {
  font-family: "Neometric Medium" !important;
}

::ng-deep .ag-charts-proxy-legend-toolbar {
  font-family: "Neometric Medium" !important;
}

::ng-deep .ag-header-cell-text {
  text-transform: uppercase;
  font-size: 12px !important;
}

::ng-deep .ag-cell {
  font-size: 12px !important;
  padding: 0 12px !important;
}

::ng-deep .ag-header-cell-label,
.ag-header-group-cell-label {
  padding: 5px 12px !important;
}

::ng-deep .ag-center-cols-viewport {
  min-height: auto !important;
}

@media (max-width: 768px) {
  ::ng-deep .ag-cell {
    font-size: 12px !important;
    padding: 0 20px !important;
  }

  ::ng-deep .ag-header-cell-label,
  .ag-header-group-cell-label {
    padding: 5px 5px !important;
  }
}
