.calendar {
  width: 240px;
}

.submit-btn {
  background: red;
  border-radius: 6px;
  color: white;
  padding: 6px 12px;
}

.dashboard {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 10px;
  margin: 0 40px;
  /* background-color: #eeeeee; */
}

@media (max-width: 1080px) {
  .dashboard {
    display: flex;
    flex-direction: column;
  }
}

.table-panel {
  height: calc(100vh - 100px);
  overflow-y: auto;
  padding: 10px;
  /* background-color: #ffffff; */
}

.chart-panel {
  height: calc(100vh - 100px);
  overflow-y: auto;
  padding: 10px;
  box-shadow: -5px 5px 5px #0000000d;
  /* background-color: #ffffff; */
}

.section-header {
  background: #7c7c7c;
  color: white;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  border-radius: 6px 6px 0 0;
  margin-top: 6px;
}

.select-with-icon select {
  width: 240px;
}

.btn-sec button {
  border-radius: 4px;
  padding: 4px 6px;
}

.grid {
  border: 1px solid #e5e5e5;
}

.chart-title {
  font-weight: 700;
  /* margin-bottom: 16px; */
  opacity: 0.6;
  font-size: 14px;
  margin-left: 20px;
  text-transform: uppercase;
}

/* .donut-chart {
  height: 220px;
} */

.monitoring-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
  padding: 20px;
}

.alert-card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-title {
  font-size: 14px;
  font-weight: 500;
}

.alert-count {
  font-size: 14px;
  font-weight: bold;
}

.donut-chart {
  display: block;
  width: 180px;
  height: 180px;
}

.chart-row {
  display: flex;
  align-items: center;
  gap: 30px;
  /* margin-bottom: 30px; */
}

.legend {
  flex: 1;
}

.legend-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  margin-bottom: 4px;
  padding: 0 10px 0 0;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.label {
  flex: 1;
  font-weight: 700;
  font-size: 12px;
}

.value {
  font-weight: 700;
  font-size: 12px;
}
