<div class="playback">
  <div class="tool-bar">
    <div class="time-range">
      <div class="calender">
        <input type="date" />
      </div>
      <div class="fake-range" (click)="open = !open">
        <!-- {{ startTime }} - {{ endTime }} -->

        <div class="d-flex align-items-center gap-2">
          <input type="time" [(ngModel)]="startTime" />
          -
          <input type="time" [(ngModel)]="endTime" />
        </div>
      </div>
    </div>

    <button class="go-btn">➜</button>
  </div>

  <!-- Main -->
  <div class="main">
    <div class="sidebar">
      <div
        class="camera"
        *ngFor="let cam of playbackList"
        (click)="selectCamera(cam)"
        [class.active]="cam === selectedCamera"
      >
        <img [src]="cam.image" />
        <div class="cam-label">🔴 {{ cam.name }}</div>
      </div>
    </div>

    <!-- Video Section -->
    <div class="video-container">
      <div class="video-frame">
        <video [src]="selectedCamera?.url"></video>
      </div>

      <!-- Controls -->
      <div class="controls">
        <!-- Left Controls -->
        <div class="left-controls">
          🔊
          <button>-</button>
          <input type="range" min="0" max="100" />
          <button>+</button>

          <button>▶</button>
          <button>■</button>

          <input type="range" min="0" max="100" />
          <span>1x</span>
        </div>

        <!-- Timeline -->
        <div class="timeline-wrapper">
          <div class="tick-bar">
            <span
              class="tick"
              *ngFor="let tick of ticks; let i = index"
              [class.major]="i % ticksPerHour === 0"
              [class.medium]="i % (ticksPerHour / 2) === 0"
            ></span>

            <div class="labels">
              <span
                class="label"
                *ngFor="let h of hours; let i = index"
                [style.left.%]="(i / 24) * 100"
              >
                {{ h }}
              </span>
            </div>
          </div>

          <div class="timeline-nav-strip">
            <button
              type="button"
              class="timeline-nav-btn"
              aria-label="Previous"
            >
              &#8249;
            </button>
            <div class="timeline-nav-track"></div>
            <button type="button" class="timeline-nav-btn" aria-label="Next">
              &#8250;
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
