<div class="tool-bar">
  <div class="calendar">
    <input
      matInput
      [matDatepicker]="picker1"
      placeholder="MM-DD-YYYY"
      [matDatepickerFilter]="dateFilter"
      [(ngModel)]="selectedDate"
      [max]="today"
      (ngModelChange)="getServices()"
    />

    <img
      src="icons/calendar.svg"
      class="calendar-icon"
      (click)="picker1.open()"
    />

    <mat-datepicker #picker1></mat-datepicker>
  </div>

  <div class="service">
    @if (selectedDate && services.length) {
    <select
      [ngModel]="selectedId"
      (ngModelChange)="selectedId = $event"
      id="selectType"
    >
      <option value="" disabled>Customer Count</option>

      @for (ser of services; track ser) {
      <option [value]="ser.serviceId">
        {{ ser.service }}
      </option>
      }
    </select>
    }
  </div>
</div>
<ag-charts style="height: 100%" [options]="chartOptions"></ag-charts>
