.tool-bar{
    justify-content: start;
    gap: 20px;
    align-items: center;
}

.calendar {
  display: flex;
  align-items: center;
  border: 1px solid #c4c4c4;
  border-radius: 6px;
  overflow: hidden;
  background: white;
  width: 210px;
  padding: 0 10px;
}

.calendar input{
    border: none;
}

.calendar-icon{
    cursor: pointer;
}

.charts{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    height: calc(100vh - 100px);
    background:  linear-gradient(181deg, var(--unnamed-color-ffffff) 0%, #F3F3F3 50%, #EEEEEE 100%) 0% 0% no-repeat padding-box;
}

.charts *{
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
}