<!-- email section -->
<ng-container *ngIf="currentPage === 'validate_email'">
  <div class="forgot-password">
    <p class="auth-label">Forgot Password?</p>

    <form [formGroup]="forgotEmailForm" (ngSubmit)="submitEmail()">
      <div class="form-group">
        <label>Email Address</label>
        <input
          type="email"
          formControlName="email"
          placeholder="Enter your email"
        />
      </div>

      <button
        type="button"
        class="cancel-btn mb-2"
        (click)="closeForgot.emit()"
      >
        Cancel
      </button>

      <button
        type="submit"
        class="submit-btn"
        [disabled]="forgotEmailForm.invalid"
      >
        Submit
      </button>
    </form>
  </div>
</ng-container>

<!-- otp section -->
<ng-container *ngIf="currentPage === 'validate_otp'">
  <div class="success-message">
    <h3>Check your email</h3>
    <p class="auth-label">We have sent an OTP to your email.</p>

    <div class="inputContainer">
      <ng-otp-input [config]="otpConfig" (onInputChange)="onOtpChange($event)">
      </ng-otp-input>
    </div>

    <button type="button" class="cancel-btn mb-2" (click)="closeForgot.emit()">
      Cancel
    </button>
    <button class="login-btn" (click)="verifyOtp()">Verify OTP</button>
  </div>
</ng-container>

<!-- password section -->
<ng-container *ngIf="currentPage === 'validate_password'">
  <div class="createNewPassword">
    <p class="auth-label">Create new password</p>

    <form [formGroup]="newPasswordForm" (ngSubmit)="updatePassword()">
      <div class="form-group password-group">
        <label>New Password</label>
        <div class="password-wrapper">
          <input
            [type]="showPassword ? 'text' : 'password'"
            formControlName="newPassword"
            placeholder="New Password"
            (change)="checkPassword()"
          />
          <img
            [src]="showPassword ? 'icons/eyedisabled.svg' : 'icons/view.svg'"
            class="toggle-password"
            (click)="showPassword = !showPassword"
            alt="Toggle password"
          />
        </div>
      </div>

      <div class="form-group password-group">
        <label>Confirm New Password</label>
        <div class="password-wrapper">
          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            formControlName="confirmNewPassword"
            placeholder="Confirm New Password"
          />
          <img
            [src]="
              showConfirmPassword ? 'icons/eyedisabled.svg' : 'icons/view.svg'
            "
            class="toggle-password"
            (click)="showConfirmPassword = !showConfirmPassword"
            alt="Toggle password"
          />
        </div>
      </div>

      <!-- password rules -->
      <div class="password-rules">
        <ul>
          <li [class.valid]="passwordRules.minLength">
            <span class="icon">✔</span> At least 8 characters
          </li>

          <li [class.valid]="passwordRules.upper">
            <span class="icon">✔</span> At least one uppercase letter
          </li>

          <li [class.valid]="passwordRules.lower">
            <span class="icon">✔</span> At least one lowercase letter
          </li>

          <li [class.valid]="passwordRules.digit">
            <span class="icon">✔</span> At least one digit
          </li>

          <li [class.valid]="passwordRules.special">
            <span class="icon">✔</span> At least one special character
          </li>
        </ul>
      </div>

      <!-- submit -->
      <button
        type="button"
        class="cancel-btn mb-2"
        (click)="closeForgot.emit()"
      >
        Cancel
      </button>
      <button type="submit" class="submit-btn" [disabled]="!isPasswordValid()">
        Submit
      </button>
    </form>
  </div>
</ng-container>

<!-- final section -->
<ng-container *ngIf="currentPage === 'complete'">
  <div class="forgot-password">
    <p class="auth-label" style="color: #53bf8b">Password Updated!</p>
    <!-- <span>Please wait... you will be directed to the home page</span> -->
    <button type="submit" class="submit-btn" (click)="backToSignIn()">
      Back to Signin
    </button>
  </div>
</ng-container>
