<div class="map-container">
  <ng-container *ngIf="siteDetails?.siteImage">
    <img [src]="siteDetails?.siteImage | media | async" class="map-image" />

    <div
      *ngFor="let cam of siteDetails?.cameras"
      class="camera"
      [style.top.%]="findx(cam?.camImagePoints?.x)"
      [style.left.%]="findy(cam?.camImagePoints?.y)"
      (click)="onCameraClick(cam)"
      [matMenuTriggerFor]="menu"
    >
      <img src="icons/cctv.png" width="24px" />
    </div>
  </ng-container>

  <!-- <ng-container *ngIf="!siteDetails?.siteImage">
    <p class="err-info">no floor map for selected site!</p>
  </ng-container> -->

  <!-- @if (storage_service.info$ | async; as data) {
    <div class="err-info">
      {{ data }}
    </div>
  } -->

  <mat-menu #menu="matMenu">
    <div
      style="width: 800px; height: 500px; overflow: hidden; background: #000000"
    >
      @if (currentCam) {
        <app-stream [videoData]="currentCam"></app-stream>
      }
    </div>
  </mat-menu>
</div>

@if (addBtn) {
  <app-camera-insights
    (closeModal)="closeAddUserModal($event)"
  ></app-camera-insights>
}
