.map-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
  /* border: 5px solid; */
}

.map-image {
  width: 100%;
  height: 100%;
}

.camera {
  position: absolute;
  cursor: pointer;
  font-weight: bold;
  color: #000000;
  border-radius: 4px;
  font-size: 12px;

  border: 3px solid;
  border-radius: 50%;
  padding: 4px;
  /* border-color: transparent; */
}

/* .camera-active {
  position: absolute;
  cursor: pointer;
  font-weight: bold;
  color: #000000;
  border-radius: 4px;
  font-size: 12px;

  border: 3px solid red;
  border-radius: 50%;
  padding: 4px;
} */

.err-info {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ed3237;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

app-camera-insights {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}
