<div class="req-container">
  <div class="top-header">
    @if(currentRequestData){ EDIT REQUEST } @else{ CREATE NEW REQUEST }
    <a (click)="close()">
      <span class="material-symbols-outlined text-light"> cancel </span>
    </a>
  </div>

  <div class="content">
    <form [formGroup]="ticketForm" (ngSubmit)="createTicket()">
      <!-- site -->
      <label for="site">Site</label>
      <select name="site" id="site" formControlName="siteId">
        @for(site of sitesList | async; track site){
        <option [value]="site.siteId">{{ site.siteName }}</option>
        }
      </select>

      <!-- category -->
      <label for="category">Category</label>
      <select
        name="category"
        id="category"
        formControlName="service_cat_id"
        (change)="filterSubs()"
      >
        @for(cat of categories; track cat.catId) {
        <option [value]="cat.catId">{{ cat.catName }}</option>
        }
      </select>

      <!-- sub category -->
      <label for="sub-category">Sub Category</label>
      <select
        name="sub-category"
        id="sub-category"
        formControlName="service_subcat_id"
      >
        @for(subCat of subCategories; track subCat.subCatId) {
        <option [value]="subCat.serviceSubcatId">
          {{ subCat.serviceSubcatName }}
        </option>
        }
      </select>

      <!-- priority -->
      <label for="priority">Priority</label>
      <div class="priority-btns">
        <div>
          <input
            type="radio"
            name="priority"
            value="low"
            formControlName="priority"
          />
          Low
        </div>
        <div>
          <input
            type="radio"
            name="priority"
            value="medium"
            formControlName="priority"
          />
          Medium
        </div>
        <div>
          <input
            type="radio"
            name="priority"
            value="high"
            formControlName="priority"
          />
          High
        </div>
      </div>

      <!-- description -->
      <label for="description">Description</label>
      <textarea
        name="description"
        id="description"
        rows="4"
        formControlName="description"
      ></textarea>

      <!-- remarks -->
      <label for="remarks">Remarks</label>
      <textarea
        name="remarks"
        id="remarks"
        rows="4"
        formControlName="remarks"
      ></textarea>

      <!-- submit-->
      <div class="form-btns">
        <button
          Class="btn-secondary"
          style="width: 50%"
          type="reset"
          (click)="close()"
        >
          CANCEL
        </button>
        <button class="btn-primary" style="width: 50%" type="submit">
          @if(currentRequestData){ UPDATE } @else{ CREATE }
        </button>
      </div>
    </form>
  </div>
</div>
