::ng-deep
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-text-field__input {
  color: #716868 !important;
  caret-color: #514c4c !important;
}

.main {
  height: calc(100vh - 60px);
  overflow-y: auto;
  transition: all 300ms ease-in-out;
  /* margin: 20px 40px; */
  /* margin-left: 300px; */
}

.side-sites {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 99;
  width: 300px;
  height: calc(100vh - 60px);
  /* background-color: #ffffff; */
  background: #f8f9fa;
  display: flex;
  flex-direction: column;
  animation: slideIn 300ms forwards;
}

.site-search {
  height: 32px;
  border: 1px solid #ed3237;
  border-radius: 50px;
  padding: 0 16px;
}

.side-sites .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ed3237;
  color: white;
  padding: 10px 14px;
  font-size: 12px;
  user-select: none;
}

.close {
  cursor: pointer;
  color: white !important;
}

.close:hover {
  background-color: #ed3237 !important;
}

.sites-content {
  background-color: white;
  /* height: 100%; */
  overflow-y: auto;
  padding: 0 10px;
}

.site-list-item {
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #ed3237;
  font-size: 12px;
  user-select: none;
  opacity: 0.9;
  cursor: pointer;

  /* &:hover {
    color: #ffffff !important;
    background-color: #ed3237;
    opacity: 0.9;
  } */
}

/* .site-list-item:hover a {
  color: #ffffff !important;
} */

.site-list-item p {
  font-family: "Neometric Medium", sans-serif !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-between;
  margin: 6px 0;
}

.site-list-item span {
}

.show-cameras {
  cursor: pointer;
}

.cam-name {
  font-size: 10px;
  padding: 6px 2px 8px 8px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.cam-name img {
  margin-right: 6px;
}

.dot {
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
