.sub-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d3d3d3;
    height: 30px;
    padding: 0 10px;
}

.site-info {
    position: relative;
    border-right: 1px solid rgb(156, 154, 150);
    border-left: 1px solid rgb(156, 154, 149);
    display: flex;
    cursor: pointer;
}

.site-name {
    width: 250px;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.site-menu {
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
    z-index: 999;
    top: 25px;
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
}

.site-accordian {
    height: 50vh;
    overflow-y: auto;

}

.sites-list-items {
    border-bottom: 1px solid #989fb4;
    padding: 5px;
}

.sites-list-items a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

.cam-name {
    font-size: 14px;
    margin: 3px 0;
}

.search-bar {
    position: relative;
}

.search-bar input {
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #FD6327;
    border-radius: 2px;
    width: 100%;
    padding: 0 10px;
}

.search-bar:focus {
    border: 1px solid #FD6327;
    outline: none;
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 25px;
}

::placeholder {
    font-style: normal;
    font-size: 1em;
    color: rgb(6, 21, 13);
    padding: 5px;
    content: "Search Site" !important;
}